.article .wrapper {
    padding-top: 96px;
}

    .buttons {
        margin: 48px 0;
    }

    iframe {
        margin: 0 12px;
    }

.header, body {
    background-color: rgb(40, 70, 90) !important;
}

h1, h2, .drawer .section {
    color: rgb(42, 110, 142) !important;
}

.footer {
    background-color: #333;
}

.row {
    clear: both;
}

.well {
    padding: 24px;
    width: 100%;
    background-color: #EEE;
    border-radius: 8px;
}

.text-center {
    text-align: center;
}

.img-responsive {
    width: 100%;
}

.img-33 {
    width: 33%;
}

.thumbnail {
    border-radius: 8px;
    border: 1px solid #EEE;
    padding: 8px;
}

.video-box {
    width: 100%;
    margin-top: 24px;
}

.video-box iframe {
    margin-left: calc(50% - 280px);
}

.logo {
    width: 100%;
    height: 200px;
    float: left;
}

.logo .icon {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: calc(50% - 100px);
    background-image: url('../img/laracogs.png');
    background-size: cover;
    background-position: center center;
}